.bodyback{
    background-image: url('../images/qa.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
}